<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Allure-Report">
    <test verbose="2"  name="D:/Mevan_project/ATB13XApiAutomation">
        <classes>
            <class name="com.sonusharma.Allure_Reports.TestNg_Allure_report">
                <methods>
                    <include name="testcase_1"/>
                    <include name="testcase_2"/>
                    <include name="testcase_3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>